{% extends "base.html" %} {% block title %}Zwróć sprzęt{% endblock %} {% block
content %}
    <form method="post">
        <h3 align="center">Wybierz lokalizację, w której zostawiasz sprzęt</h3>
        <label for="locations">Lokalizacje</label>
        <select onchange="allowSubmit()" name="locations">
            <option value="" selected disabled hidden>Wybierz lokalizację</option>
            {% for location in locations %}
                <option value="{{ location.locationID }}" type="location">{{ location.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Zwróć" id="submit" style="display: none;">
    </form>

    <script>
        function allowSubmit() {
            document.getElementById("submit").style.display = "block";
        }
    </script>

{% endblock %}